.item-container {
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    border: 2px solid darkblue;
    background-color: white;
    border-radius: 0.5em;
}

.item-header {
    background-color: lightblue;
    color:darkblue;
    padding: 0.5em;
}

.item-body {
    background-color: white;
    color:darkblue;
    padding: 0.5em;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
}